/* @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input,
textarea {
  font-family: 'Poppins',sans-serif;
  font-size:1rem;
}

body{
  background-color: var(--body-color);
  color: var(--text-color);
}


li { list-style: none; }

a{
  text-decoration: none;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root{
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

}
/*=============== REUSABLE CSS CLASSES ===============*/
/* .section {
  padding: 6rem 0 2rem;
} */

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
/* .container {
  max-width:1040px;
  margin-left: auto;
  margin-right: auto;
} */
.container {
  max-width:1040px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
/* @media (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
} */
@media (max-width: 350px) {
  :root {
    font-size: 2.25rem;
  }
  .container {
    margin-left:1.5rem;
    margin-right:1.5rem;
  }
}
@media (min-width: 575px) {

  .title-lg { font-size: 3rem; }

}
@media (min-width: 768px) {

  .headline-lg { font-size:4rem; }

  .headline-md { font-size: 3rem; }

  .title-md { font-size: 2rem; }

  .section {padding: 100px; }

  .section-title { margin-block-end: 40px; }
}
@media (min-width: 992px) {

  .headline-md { font-size:3rem; }

  .title-lg { font-size:3rem; }
    
  .title-md { font-size: 2rem; }

  .title-sm { font-size: 1.5rem; }

  .section-title { margin-block-end: 60px; }
}
@media (min-width: 1200px) {

  .headline-lg {font-size: 5rem; }

  .title-md { font-size: 2.5rem; }
  
  .container {
    width: 100%;
    margin-inline: auto;
  }

}








